$color-white: #fff
$color-mirage: #141B23
$color-pickled-bluewood: #2C3E50
$color-orange-peel: #FF9B00
$color-screamin-green: #71FB7E
$color-bombay: #B5B5B6
$color-rose: #FF005C
$color-azure-radian: #0074FF

.orange
  background: $color-orange-peel
  box-shadow: 0px 0px 4px $color-orange-peel
.svg-ornge
  fill:  $color-orange-peel

.green
  background: $color-screamin-green
  box-shadow: 0px 0px 4px $color-screamin-green

.rose 
  background: $color-rose
  box-shadow: 0px 0px 4px $color-rose

.azure
  background: $color-azure-radian
  box-shadow: 0px 0px 4px $color-azure-radian