@import 'normalize';
@import 'colors'
@import 'navigation'
@import 'header'
@import 'section'

*
  box-sizing: border-box 
  text-rendering: optimizeLegibility
  outline: none
 
html
  font-size: calc(100vw / 1920)
  outline: none

body
  background: $color-mirage
  // overflow-y: hidden
  scroll-behavior: smooth

.container 
  width: 960rem
  margin: 0 auto   


@media (max-width: 414px)
  html
    font-size: calc(100vw / 414) 

  .container 
    width: calc(100vw - 24rem)
    margin: 0 auto  
    // overflow: hidden


